###**control flow and conditional statements**

**Question No.1 ANS :=** 

**Q1. Find the largest number from the given list, use for loop.**

numbers = [12, 75, 150, 180, 145, 525, 50, 78678, 237833]

In [5]:
#  ANS = 
A = [12, 75, 150, 180, 145, 525, 50, 78678, 237833]

largest_num = 0 

for num in A :
   if num > largest_num :
     largest_num = num 


print(f"largest number of the list : {largest_num} ")

largest number of the list : 237833

--------------------------------------------------------------------------------

**Question No.2 ANS :=** 

**Q2. Print all the even number between (1, 12).**

In [12]:
#  ANS = 

A = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in A :
  if i % 2 == 0 :
    print(i)

2
4
6
8
10
12

--------------------------------------------------------------------------------

**Question No.3 ANS :=**

**Q3. Calculate the sum of all numbers from 1 to a given number**

In [17]:
num = int(input("enter the range "))
total_sum = 0 
for i in range( 1 , num+1 ) :
  total_sum = total_sum + i 


  print(total_sum)

enter the range 10
1
3
6
10
15
21
28
36
45
55

--------------------------------------------------------------------------------

**Question No.4 ANS :=**

**Q4. Write a program to display only those numbers from a list that satisfy the following conditions**

* The number must be divisible by five

* If the number is greater than 150, then skip it and move to the next number

* If the number is greater than 500, then stop the loop

 
 * Given list  :

  * numbers = [12, 75, 150, 180, 145, 525, 50]

In [23]:
# The number must be divisible by five
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i % 5 == 0:
        if i > 150:
            continue
            if i > 500:
                break
        print(i)

75
150
145
50

--------------------------------------------------------------------------------

**Question No.5 ANS :=** 

**Q5. Print the given list in reverse order.**

* list1 = [10, 20, 30, 40, 50]

In [24]:
list1 = [10, 20, 30, 40, 50]

list1[::-1]

[50, 40, 30, 20, 10]

--------------------------------------------------------------------------------